@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Resources.Models.Project


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ AdminLayoutPage.cshtml";
}
@section PageSec{
<section class="home-section" id="home">
   <div class="home-content">
        

@*<h3 style="margin-top:5px;margin-left:5px;">Would you like to continue?</h3>*@
<div class="container p-3 my-3 border w-75 ml-2" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <h2 class="projectName " style="color:crimson">Delete <span style="color:#333">Project</span></h2>
    <hr />
        <dl class="row mt-4">
            <dt class="col-sm-3 mt-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9 mt-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3 mt-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-9 mt-2">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-3 mt-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-9 mt-2">
                @Html.DisplayFor(model => model.Location)
            </dd>
          
        
        </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input class="bttn px-3"  type="submit" value="Yes" />
                <a class="bttnDel px-3" asp-action="Index">No</a>
            </form>

 </div>
 </div>
 </section>
 }